<table #table mat-table [dataSource]="followUps" matSort>

    <ng-container matColumnDef="nomeCandidato">
        <th class="th" mat-header-cell *matHeaderCellDef mat-sort-header> Nome do Candidato </th>
        <td mat-cell *matCellDef="let followup"> {{followup.nomeCandidato}} </td>
    </ng-container>

    <ng-container matColumnDef="dataRetorno">
        <th class="th" mat-header-cell *matHeaderCellDef> Data do Follow Up </th>
        <td mat-cell *matCellDef="let followup"> {{followup.dataRetorno}} </td>
    </ng-container>

    <ng-container matColumnDef="tipoRetorno">
        <th class="th" mat-header-cell *matHeaderCellDef> Canal do Follow Up </th>
        <td mat-cell *matCellDef="let followup"> {{followup.tipoRetorno.descricao}} </td>
    </ng-container>

    <ng-container matColumnDef="excluir">
        <th class="th" mat-header-cell *matHeaderCellDef> Excluir </th>
        <td mat-cell *matCellDef="let followup"> 
            <button mat-button color="warn">
                <i class="material-icons">
                    delete_outline
                </i>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="visualizarFollowUp(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page">
</mat-paginator>