.card-retorno {
    width: 15rem;
}

table {
    width: 100%;
}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-row:hover .mat-cell {
    border-color: currentColor;
}

.boasvindas {
    color: #EF864A;
    font-family: 'Lato', sans-serif;
}

.datepicker {
    background-color: white;
    margin-bottom: 1rem;
}

.input {
    background-color: white;
    width: 30rem;
    margin-right: 3rem;
}

.button-search {
    margin-left: 2rem;
    height: 2rem;
}

.th {
    font-size: large;
    font-weight: bold;
}