<div class="container">
    <h2 class="boasvindas">Olá! Você tem {{ followupsize }} Follow Ups para hoje: <b>{{ data }}.</b></h2>
    <mat-card class="mat-elevation-z8">

        <mat-form-field class="input" appearance="fill">
            <mat-label>Nome do Candidato</mat-label>
            <input matInput placeholder="Ex. Pizza">
        </mat-form-field>


        <mat-form-field class="datepicker" appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <button class="button-search" mat-button><i class="material-icons">
                search
            </i></button>

        <table #table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="nomeCandidato">
                <th class="th" mat-header-cell *matHeaderCellDef mat-sort-header> Nome Candidato </th>
                <td mat-cell *matCellDef="let followup"> {{followup.nomeCandidato}} </td>
            </ng-container>

            <ng-container matColumnDef="dataRetorno">
                <th class="th" mat-header-cell *matHeaderCellDef> Data do Retorno </th>
                <td mat-cell *matCellDef="let followup"> {{followup.dataRetorno}} </td>
            </ng-container>

            <ng-container matColumnDef="tipoRetorno">
                <th class="th" mat-header-cell *matHeaderCellDef> Tipo </th>
                <td mat-cell *matCellDef="let followup"> {{followup.tipoRetorno.descricao}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row (click)="add(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </mat-card>
</div>